<button (click)="logout()" type="submit" class="btn-default logout">
  Logout
</button>
<button (click)="create()" type="submit" class="btn-default btn">Create</button>
<div *ngFor="let student of students" class="knt">
  <div>
    <p>{{ student.name }} {{ student.lastName }} Class: {{ student.class }}</p>
    <button
      class="details"
      (click)="details(student)"
      type="submit"
      class="btn-default btn-details"
    >
      Details
    </button>
  </div>
</div>
