<form (ngSubmit)="onSubmit()">
  <label for="name">First Name:</label><br />
  <input
    type="text"
    [(ngModel)]="student.name"
    id="name"
    name="name"
    default="student.name"
    required
    #name="ngModel"
  /><br />

  <label for="lastName">Last Name:</label><br />
  <input
    type="text"
    [(ngModel)]="student.lastName"
    id="lastName"
    name="lastName"
    default="student.lastName"
    required
    #lastName="ngModel"
  /><br />

  <label for="class">Class:</label>
  <select
    name="class"
    [(ngModel)]="student.class"
    id="class"
    default="student.class"
  >
    <option value="1.A">1.A</option>
    <option value="1.B">1.B</option>
    <option value="2.A">2.A</option>
    <option value="2.B">2.B</option></select
  ><br />

  <label for="age">Age:</label><br />
  <input
    type="text"
    [(ngModel)]="student.age"
    id="age"
    name="age"
    default="student.age"
    #age="ngModel"
  /><br />

  <label for="name1">Date Of Birth:</label>
  <input
    type="date"
    [(ngModel)]="student.birthDate"
    id="name1"
    name="name1"
    default="student.birthDate"
    #name1="ngModel"
  /><br />

  <label for="department">Deparment:</label><br />
  <select
    name="department"
    [(ngModel)]="student.department"
    id="department"
    default="student.department"
  >
    <option value="Male">Science</option>
    <option value="Female">Physics</option></select
  ><br />

  <label for="gender">Gender:</label>
  <select
    name="class"
    [(ngModel)]="student.gender"
    id="class"
    default="student.gender"
  >
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option></select
  ><br />

  <label for="gradeAverage">Grade Average:</label><br />
  <input
    type="text"
    [(ngModel)]="student.gradeAverage"
    id="gradeAverage"
    name="gradeAverage"
    default="student.gradeAverage"
    #gradeAverage="ngModel"
  /><br />
  <!-- <input type="range" id="gradeAverage" name="gradeAverage" 
       min="1" max="5" value="1" step="0.1"><br /> -->

  <label for="disabled">Disabled:</label><br />
  <select
    name="disabled"
    [(ngModel)]="student.disable"
    id="disabled"
    default="student.disable"
  >
    <option value="NO">NO</option>
    <option value="YES">YES</option></select
  ><br />

  <label for="awards">Awards:</label><br />
  <input
    type="text"
    [(ngModel)]="student.awards"
    id="awards"
    name="awards"
    default="student.awards"
  /><br />
  <input
    *ngIf="
      name.valid &&
      lastName.valid &&
      age.value >= 0 &&
      toNumber(gradeAverage.value) >= 1 && toNumber(gradeAverage.value) <= 5
    "
    type="submit"
    value="Save"
  />
  <div class="invalid" *ngIf="name.invalid || lastName.invalid">
    Name and Lastname are mandatory.
  </div>
  <div class="invalid" *ngIf="age.value < 0">Age cannot be negative.</div>
  <div
    class="invalid"
    *ngIf="toNumber(gradeAverage.value) < 1 || toNumber(gradeAverage.value) > 5"
  >
    Grade average is invalid.
  </div>
  <!-- <div
    class="invalid"
    *ngIf="timer(name1) > time"
  >
    Grade average is invalid.
  </div> -->
  <!-- value="Name and Lastname are mandatory." -->
</form>
<button (click)="back()" type="button">Back</button>
