<div>
  <p>Name: {{ student.name }}</p>
  <p>Lastname: {{ student.lastName }}</p>
  <p>Class: {{ student.class }}</p>
  <p>Age: {{ student.age }}</p>
  <p>Date of birth: {{ student.birthDate }}</p>
  <p>Department{{ student.department }}</p>
  <p>Gender: {{ student.gender }}</p>
  <p>Grade average: {{ student.gradeAverage }}</p>
  <p>Disabled: {{ student.disable }}</p>
  <p>Awards:</p>
  <p>{{ student.awards }}</p>
  <p>Last edit: {{ student.lastEdit }}</p>
  <button (click)="edit(student)" class="btn-default btn">Edit</button>
  <button (click)="delete()" class="btn-default btn">Delete</button>
  <button (click)="back()" class="btn-default btn">Back</button>
</div>
